h2 {
  margin: 0;
}
.BoxFillingText {
  font-family: 'YandexSans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  text-align: center;
  letter-spacing: -0.02em;
  font-feature-settings: 'pnum' on, 'lnum' on;
  margin-bottom: 159px;
}
