.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 120px;
}
.Subtitle {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding-bottom: 92px;
}
.TableGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
  justify-content: center;
  max-width: 1587px;
  padding-bottom: 80px;
}
