.ScanProduct {
  margin: 0 2.6667rem;
}
.ScanProductHeader {
  font-family: 'YandexSans', sans-serif;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  gap: 0.2222rem;
  text-align: center;
}
h2 {
  margin: 0;
}
.ScanProductText {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}
.ScanProduct–°ell {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5.25rem;
  text-align: center;
}
.ScanProductInformation {
  display: flex;
  justify-content: center;
  gap: 0.8889rem;
}
