.MainButton {
  font-family: 'YandexDisplay';
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  border: none;
  border-radius: 1.5rem;
  color: var(--main-text-color);
  background: var(--main-bg-elem);
  width: 18.5rem;
  height: 41.375rem;
  cursor: pointer;
  text-align: center;
  margin-top: 27px;
}
.MainButton:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.MainButton:hover {
  background: #dedede;
}
