.TextItem {
  display: inline;
  font: 2.5rem 'YandexText', sans-serif;
  text-align: center;
  padding: 36px 11.25px;
  color: var(--main-text-color);
  background: var(--main-bg-elem);
  border-radius: 1.5rem;
  align-items: center;
}
