.EndAssembly {
  margin: 189px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h2 {
  margin: 0;
}
.EndAssemblyHeader {
  font-family: 'YandexDisplay', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}
.EndAssemblyText {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}
