.productItem {
  width: 12.2222rem;
  height: 21.1667rem;
}
.copyBarcode {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: url('./images/Content\ copy.svg') no-repeat left center;
  /* width: 1.3333rem; */
  height: 1.3333rem;
}
.barcodeText {
  padding-left: calc(1.3333rem + 0.7222rem);
  text-align: center;
  color: #0044ee;
}

.productImage {
  display: block;
  background: #f9f7f3;
  border-radius: 16px;
  width: 210px;
  height: 210px;
  position: relative;
}
.productCounter {
  /*   font-family: 'YandexText', sans-serif; */
  display: inline;
  background-color: #2aad2e;
  border-radius: 100px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 12px 48px;
  position: absolute;
  top: 135px;
  left: 1.7778rem;
  z-index: 2;
}
.productText {
  font-family: 'YandexText', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 13px;
}
