.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
}
.Title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  align-items: center;
  padding-bottom: 52px;
}
.Progress {
  margin-bottom: 146px;
}
.ProgressBar {
  background: url(./image/image\ 1.png);
  width: 519px;
  height: 312px;
  /* margin-bottom: 131px; */
  margin-bottom: 130px;
}
.ProgressValue {
  margin: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 700;
  font-size: 123px;
  line-height: 144px;
  text-align: center;
  letter-spacing: -0.02em;
}
.ProgressPerHour {
  margin: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}
.OperationGrid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding: 100px;
  gap: 10px;
}
