.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
}
.Title {
  font-family: 'YS Display';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 52px;
  align-items: center;
  padding-bottom: 66px;
}
.Progress {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink 75%, pink 0);
}
.Progress::before {
  content: '75%';
}
/* .Progress {
  margin-bottom: 146px;
} */
.ProgressValue {
  margin: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 700;
  font-size: 123px;
  line-height: 144px;
  text-align: center;
  letter-spacing: -0.02em;
}
.ProgressPerHour {
  margin: 0;
  font-family: 'YS Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}
.OperationGrid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding: 100px;
  gap: 10px;
}
